@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Light.woff2") format("woff2"),
    url("../fonts/SourceSans3-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Semibold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir-GrandHeavy.woff2") format("woff2"),
    url("../fonts/Agrandir-GrandHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir Wide";
  src: url("../fonts/Agrandir-WideLight.woff2") format("woff2"),
    url("../fonts/Agrandir-WideLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.ttf?uvupoa") format("truetype"),
    url("../fonts/icons/icons.woff?uvupoa") format("woff"),
    url("../fonts/icons/icons.svg?uvupoa#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  height: auto;
}

body {
  line-height: normal;
  font-family: "Source Sans 3";
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  height: 100%;
  max-width: 100vw;
  position: relative;
  background-image: url("../img/Img1.webp"), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgb(30, 30, 30, 0.5);
  }
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    display: none;
  }
}

.banner {
  &__container {
    height: 100%;
    // min-width: 100vw;
    width: 100%;

    padding: 0px 120px 0px 120px;
    z-index: 5;
  }

  &__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // min-height: calc(100vh - 268px);
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding-top: 50px;
  }
  &__body {
    padding-bottom: 50px;
    margin-top: 19px;
    max-width: 813px;
    left: 120px;
    z-index: 5;
  }
  &__logo {
    width: 183px;
    padding-bottom: 9px;
  }
  &__link {
    height: 59px;
  }

  &__subtitle {
    font-size: 21px;
    font-weight: normal;
    line-height: 125%;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__title {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 112.5%;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}

//==================== SLIDER =====================================================
//=================================================================================

.banner-slider {
  // flex: 1 1 auto;
  // align-self: center;
  // display: flex;
  &.swiper {
    margin-left: 0px;
    max-width: 692px;
  }
  position: relative;
  max-width: 692px;
  width: 100%;
  margin-left: 0px;
  max-height: 379px;
  height: 100%;
  margin-bottom: 19px;

  &__container {
    display: flex;
    position: relative;
    // flex: 1 1 auto;
    // align-self: center;
    // max-height: 374px;
  }

  &__slide {
    background: rgba(0, 0, 0, 0.4);
    padding: 7px 10px 47px 8px;
    border: 2px solid #d1a505;
  }

  &__nav {
    width: 34px;
    height: 160px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: -61px;
  }

  &__prev,
  &__next {
    margin-left: 4px;
    border: none;
  }

  &__pagination {
    .swiper-pagination-bullet {
      position: relative;
      width: 16px;
      height: 16px;
      font-size: 16px;
      border: 2px solid #d1a505;
      opacity: 1;
      background: transparent;
      gap: 6px;
    }
    .swiper-pagination-bullet-active {
      background: #d1a505;
    }
  }
}

// =====================================================================================

.sabtitle-slider {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.957%;
  text-transform: uppercase;
}

.slider__text {
  &::first-letter {
    padding-left: 15px;
  }
}

// ======================== HERO-SLEDER ==================================================

.hero-slider {
  &__title {
    font-family: "Agrandir";
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    & span {
      font-family: "Agrandir Wide";
      font-size: 40px;
      font-weight: 300;
    }
  }

  &__sabtitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    &_thin {
      text-transform: none;
      font-size: 30px;
      font-weight: 300;
      line-height: 133.333%;
    }
  }
  &__text {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

// ======================== DESCRIPTION-SLEDER ===========================================

.description-slider {
  &__header {
    display: flex;

    // gap: 10px;
    align-items: center;
  }

  &__sabtitle {
    padding-right: 8px;
  }

  &__title {
    font-family: "Agrandir";
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    & span {
      font-family: "Agrandir Wide";
      font-size: 20px;
      font-weight: 300;
      line-height: 0%;
    }
  }
  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__columns {
    margin-top: 25px;
  }

  &__column {
  }
}

.description-column {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__img {
    width: 65px;
    height: 65px;
    margin-bottom: 12px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.957%;
    &_thin {
      font-weight: 300;
      line-height: 126.957%;
    }
  }
}

// ======================== ADVANTAGES-SLEDER =====================================

.banner-slider .advantages-slider_mobile {
  display: none;
}

.banner-slider .advantages-slider_tablet {
  display: block;
}

.advantages-slider {
  &__sabtitle {
  }
  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &__columns {
    margin-top: 29px;
  }
  &__column {
    display: flex;
    justify-content: space-between;
  }
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 50%;
    height: 165px;
  }
  &__item {
  }
}
.advantages-item {
  display: flex;
  gap: 9px;
  align-items: center;

  // &:not(:last-child) {
  //   margin-bottom: 23px;
  // }
  &__img {
    width: 14px;
    height: 32px;
    flex-shrink: 0;
    aspect-ratio: 7/16;
  }
  &__title {
    flex: 0 0 auto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.957%;
    & span {
      font-size: 20px;
    }
  }
  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.5%;
  }
}

// ========== OUR-ADVANTIONS ================================================================/

.our-advantages-slider {
  &__content {
    min-height: 316px;
    height: auto;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.our-advantages-item {
  display: flex;
  align-items: center;
  &__img {
    flex: 0 1 66px;
    padding-right: 20px;
    & img {
      min-width: 66px;
      max-height: 66px;
      width: 100%;
      height: 100%;
    }
  }
  &__columns {
    flex: 1 1 auto;
  }
  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    padding-bottom: 5px;
  }
  &__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 111.111%;
    &::first-letter {
      padding-left: 10px;
    }
  }
}

// ========== STAGES ================================================================/

.banner-slider .stages-slider_mobile {
  display: none;
}

.banner-slider .stages-slider_tablet {
  display: block;
}

.stages-slider {
  &__content {
    min-height: 315px;
    height: auto;
    display: flex;
    padding-top: 17px;
    flex-wrap: wrap;
    justify-content: center;

    align-content: space-between;
    gap: 8px;
  }

  &__column {
    flex: 1 1 30%;
    position: relative;
    max-width: 220px;
    width: 100%;
    height: 75px;

    border-radius: 10px;
    border: 1px solid #d1a505;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: start;
    align-content: start;
  }
  &__stage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    border: 1px solid #d1a505;
    border-radius: 30px;
    text-align: center;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 177.778%;
  }
  &__text {
    padding-top: 16px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 128.571%;
  }
}

// ========== REQUIREMENTS ================================================================/

.requirements-slider {
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 7px 0px 0px 0px;
  position: relative;
  z-index: 5;
  &__sabtitle {
    flex: 1 1 auto;
    padding: 0px 0px 7px 9px;
  }
  &__content {
    // margin-top: auto;
    width: 100%;
    height: 100%;
    display: flex;

    // flex-wrap: wrap;
  }
  &__block {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
  }

  &__body {
    // width: 229px;
    min-height: 161px;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;

    // flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    line-height: 126.95%;
    text-align: center;
    text-transform: uppercase;

    &_strong {
      font-weight: 600;
      font-size: 30px;
      line-height: 126.96%;
    }
  }

  &__img {
    // flex: 0 1 50%;
    position: relative;
    // padding-bottom: 25.1%;

    // height: 160px;
    overflow: hidden;
    min-height: 161px;
    height: auto;

    background-position: top;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      object-position: top;

      top: 0;
      left: 0;
    }
  }
}

// ========== FORM ================================================================/
//==================================================================================
.form {
  overflow: hidden;
  width: 100%;
  padding: 0px 0px 0px 43px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 70px;
  padding: 0px 20px 0px 0px;

  position: relative;
  display: inline-block;
  flex: 0 0 285px;
  display: flex;
  align-items: center;

  font-family: "Source Sans 3";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  line-height: 125.7%;
  text-align: left;
  color: #fff;
  border: 2px solid #d1a505;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease 0s;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/undo.svg");
    background-position: center left;
    width: 43px;
    height: 60px;

    top: 0;
    left: -63px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("/img/short_right_w.svg");
    width: 15px;
    height: 12px;
    top: 26px;
    right: 38px;
    background-size: cover;
  }

  &:hover,
  &:active {
    background: #d1a505;

    &::after {
      position: absolute;
      content: "";
      background-image: url("/img/short_right.svg");
      width: 30px;
      height: 15px;
      right: 26px;
      background-size: 30px 15px;
    }
  }
}

@media screen and (max-width: 940px) {
  .banner {
    &__container {
      padding: 0px 16px 0px 16px;
    }
  }

  .banner-slider {
    position: relative;
    max-width: 340px;
    margin-left: 0px;
    max-height: 367px;
    height: 100%;
    margin-bottom: 0px;

    &__container {
      padding-left: 30px;
    }

    &__slide {
      padding: 10px 10px 14px 10px;
    }

    &__nav {
      width: 34px;
      height: 160px;
      left: -12px;
    }

    &__prev,
    &__next {
      margin-left: 2px;
      border: none;
    }

    &__pagination {
      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        font-size: 16px;
        gap: 5px;
      }
    }
  }

  .our-advantages-slider {
    &__content {
      min-height: 300px;
    }
  }

  .stages-slider {
    &__content {
      min-height: 305px;
    }
  }

  .banner-slider .requirements-slider {
    padding: 10px 0px 0px 0px;
  }

  .requirements-slider {
    min-height: 367px;

    &__content {
      width: 100%;
      display: flex;
    }

    &__block {
    }

    &__body {
      background: rgba(0, 0, 0, 0.5);
      padding: 0px 10px;
      // width: 184px;
      min-height: 156px;
      height: auto;
      // flex: 1 1 52%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__text {
      font-size: 16px;
      &_strong {
        font-size: 25px;
      }
    }

    &__img {
      // flex: 0 1 43%;
      position: relative;
      width: 100%;

      min-width: 152px;
      min-height: 152px;
      // height: auto;
      //  padding-bottom: 25.5%;
      background-position: top;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: top;

        top: 0;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .banner {
    &__logo {
      width: 138px;
      margin-bottom: 0px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 126.3%;
      margin-bottom: 11px;
    }
    &__title {
      max-width: 690px;
      font-size: 36px;
      line-height: 104.167%;
    }
    &__text {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 15px;
    }
  }
  .banner-slider {
    max-width: 340px;
  }
  .sabtitle-slider {
    font-size: 22px;
  }

  .hero-slider {
    &__title {
      font-size: 53px;
      line-height: 70%;
      & span {
        font-size: 25px;
      }
    }

    &__sabtitle {
      font-size: 35px;
      line-height: 110%;
      margin-bottom: 15px;
      &_thin {
        font-size: 22px;
        line-height: 133.333%;
      }
    }
    &__text {
      font-size: 18px;
    }
  }

  // ======================== DESCRIPTION-SLEDER ===========================================

  .description-slider {
    &__header {
      display: flex;
      flex-direction: column;

      align-items: start;
    }

    &__title {
      font-size: 35px;
      line-height: 111.429%;
      & span {
        font-size: 20px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 121.429%;
    }

    &__columns {
      margin-top: 10px;
    }
  }

  .description-column {
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      // text-align: center;
    }
    &__img {
      max-width: 31px;
      max-height: 31px;
      width: 100%;
      height: 100%;
      margin: 0px 14px 0px 0px;
    }
    &__text {
      display: block;
      text-align: start;
      font-size: 15px;
      line-height: 86.667%;
      & :not(:last-child) {
        padding-right: 4px;
      }
      & :not(:first-child) {
        font-weight: 300;
      }
      &_heavy,
      &_thin {
        display: inline;
      }
    }
  }

  // ======================== ADVANTAGES-SLEDER =====================================

  .banner-slider .advantages-slider_mobile {
    display: block;
  }

  .banner-slider .advantages-slider_tablet {
    display: none;
  }

  .advantages-slider {
    &__sabtitle {
    }
    &__text {
      font-size: 18px;
    }
    &__columns {
      margin-top: 0px;
    }
    &__column {
      min-height: 337px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 100%;
      min-height: 150px;
      height: 100%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__item {
    }
  }
  .advantages-item {
    display: flex;
    gap: 9px;

    align-items: center;
    margin-bottom: 0px;
  }

  // ========== OUR-ADVANTIONS ================================================================/

  .our-advantages-slider {
    &__content {
      padding-top: 9px;
    }
  }

  .our-advantages-item {
    &__img {
      flex: 0 1 62px;
      padding-right: 19px;
      & img {
        min-width: 62px;
        max-height: 62px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 127.778%;
      padding-bottom: 5px;
    }
    &__text {
      font-size: 14px;
      line-height: 111.111%;
      &::first-letter {
        padding-left: 10px;
      }
    }
  }

  // ========== STAGES ================================================================/
  .banner-slider .stages-slider_mobile {
    display: block;
  }

  .banner-slider .stages-slider_tablet {
    display: none;
  }
  .stages-slider {
    &__content {
      display: flex;
      padding-top: 14px;
      gap: 0px;
    }

    &__column {
      margin-left: 0px;
      flex: 1 0 100%;
      max-width: 100%;
      width: 100%;
    }

    &__text {
      padding-top: 0px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .requirements-slider {
    min-height: 367px;

    &__content {
      // min-width: 336px;
      min-height: 316px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
    }

    &__block {
      flex: 1 1 100%;

      display: flex;
      flex-direction: row-reverse;
      width: 100%;
    }

    &__body {
      background: rgba(0, 0, 0, 0.5);
      padding: 0px 10px;
      // width: 184px;
      min-height: 106px;
      height: auto;
      flex: 0 1 52%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__text {
      font-size: 16px;
      &_strong {
        font-size: 25px;
      }
    }

    &__img {
      flex: 1 1 43%;
      position: relative;
      // width: 100%;

      // min-width: 152px;
      min-height: 106px;
      height: auto;
      //  padding-bottom: 25.5%;
      background-position: top;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: top;

        top: 0;
        left: 0;
      }
    }
  }

  // ========== REQUIREMENTS ================================================================/

  .form {
    overflow: hidden;
    // max-width: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 33px;

    &__button {
      width: 100%;
      flex: 1 1 auto;
      padding-right: 20px;
      justify-content: center;

      &::before {
        max-width: 43px;
        max-height: 44.5px;
        top: 0;
        left: -54px;
      }

      &::after {
        transform: translateX(100px);
        top: 27px;
        right: 50%;
      }

      &:hover,
      &:active {
        &::after {
          transform: translateX(110px);
          top: 25px;
          right: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .banner {
    &__subtitle {
      font-size: 14px;
    }

    &__title {
      line-height: 84%;
      font-size: 24px;
    }
    &__text {
      font-size: 14px;
    }
  }

  .description-column {
    height: 190px;
  }
}

@media screen and (max-width: 472px) {
  .description-column {
    height: 175px;
  }
}

@media screen and (max-width: 400px) {
  .banner {
    &__body {
      bottom: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
      line-height: 84%;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .banner-slider {
    position: relative;
    // max-width: 692px;
    width: 100%;
    margin-left: 0px;
    // max-height: 390px;
    height: 390px;

    &__container {
      position: relative;
    }
  }

  .sabtitle-slider {
    font-size: 18px;
  }

  .description-slider {
    &__header {
      display: flex;
      flex-direction: column;

      gap: 10px;
      align-items: start;
    }

    &__title {
      font-size: 25px;
      line-height: 111.429%;
    }
    &__text {
      font-size: 14px;
      line-height: 121.429%;
    }
  }

  .requirements-slider {
    min-height: 367px;

    &__content {
      min-width: 250px;
      min-height: 316px;
      display: flex;
      flex-wrap: wrap;
    }

    &__block {
      display: flex;
      width: 100%;
    }
    &__body {
      min-height: 115px;
      height: auto;
    }
    &__img {
      min-height: 115px;
      height: auto;
    }
    &__text {
      font-size: 14px;
      &_strong {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .banner-slider {
    min-height: 400px;
  }
  .description-slider {
    &__title {
      font-size: 25px;
      line-height: 111.429%;
    }
    &__text {
      font-size: 14px;
      line-height: 121.429%;
    }
  }

  .advantages-slider__column {
    min-height: 380px;
  }

  .our-advantages-slider__content {
    min-height: 355px;
  }

  .stages-slider__content {
    padding-top: 20px;
    height: 345px;
  }

  .requirements-slider {
    min-height: 367px;

    &__content {
      min-width: 250px;
      min-height: 316px;
      display: flex;
      flex-wrap: wrap;
    }

    &__block {
      display: flex;
      width: 100%;
    }
    &__body {
      min-height: 119px;
      height: auto;
    }
    &__img {
      min-height: 115px;
      height: auto;
    }
    &__text {
      font-size: 14px;
      &_strong {
        font-size: 18px;
      }
    }
  }
}
