// @import "./fonts";
// @import "_reset.scss";

@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Semibold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir-GrandHeavy.woff2") format("woff2"),
    url("../fonts/Agrandir-GrandHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.ttf?uvupoa") format("truetype"),
    url("../fonts/icons/icons.woff?uvupoa") format("woff"),
    url("../fonts/icons/icons.svg?uvupoa#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: normal;
  font-family: "Source Sans 3";
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100vw;
  height: 100%;
  max-width: 100%;
}

.banner {
  flex: 1 1 auto;
  &__content {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      background-color: rgb(30, 30, 30, 0.5);
    }
  }
  &__container {
    position: absolute;
    max-width: 100%;
    padding: 0 120px;
    margin: 0 auto;
    z-index: 5;
  }
  &__body {
    max-width: 813px;
    padding: 50px 0px 100px 0px;
  }
  &__logo {
    width: 183px;
    margin-bottom: 171px;
  }
  &__link {
    height: 59px;
  }
  &__text {
    font-size: 25px;
    font-weight: 700;
    line-height: 125.7%;
    text-transform: uppercase;
    &_span {
      padding-bottom: 30px;
      font-family: "Source Sans 3";
      font-size: 18px;
      font-weight: normal;
      line-height: 125.7%;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }
  &__title {
    font-family: "Agrandir";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 94%;
    & span {
      font-family: "Agrandir";
      font-size: 70px;
      line-height: 107%;
    }
  }
  &__subtitle {
    font-size: 32px;
    font-weight: normal;
    line-height: 125.7%;
    margin-bottom: 58px;
    text-transform: uppercase;
  }
  &__form {
  }
}

.form {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;

  &__body {
    position: relative;
    display: block;
    flex: 1 1 auto;
    max-width: 488px;
    width: 100%;
    height: 60px;
    margin-right: 20px;
    border: 2px solid #d7d7d7;
    border-radius: 50px;
    &:active {
      height: 61px;
      margin-bottom: 22px;
    }
  }

  &__label {
    margin-left: 32px;
    left: 35px;
    top: 0px;
    padding: 0px 4px;
    font-size: 18px;
    font-weight: normal;
    line-height: 125.7%;
    text-align: left;
    display: inline-block;
    color: #d7d7d7;
    z-index: 2;
  }
  &__email {
    position: absolute;
    margin-left: 35px;
    top: 0px;
    width: 100%;
    max-width: 488px;
    font-family: "Source Sans 3";
    font-size: 18px;
    font-weight: normal;
    line-height: 125.7%;
    text-align: left;
    display: inline-block;
    border: none;
    color: #fff;
    background-color: transparent;
    z-index: 1;

    &::placeholder {
      opacity: 0.6;
      font-family: "Source Sans 3";
      font-size: 20px;
      font-weight: normal;
      line-height: 125.7%;
      text-align: left;
      color: #d7d7d7;
    }
    &:active {
      height: 61px;
      margin-bottom: 22px;
    }
    &:focus {
      outline: transparent;
      border-color: transparent;
    }
  }

  .icon-arrow {
    font-size: 16px;
    padding-left: 15px;
    color: #d1a505;
    &:hover {
      color: #d7d7d7;
    }
  }

  &__button {
    display: inline-block;
    flex: 0 0 285px;
    display: flex;
    align-items: center;
    width: 285px;
    height: 50px;
    padding: 15px 35px 15px 35px;
    font-family: "Source Sans 3";
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    line-height: 125.7%;
    text-align: left;
    color: #fff;
    border: 2px solid #d1a505;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease 0s;

    &:hover {
      background: #d1a505;
    }
  }
}

@media screen and (max-width: 920px) {
  .banner {
    &__content {
      background-image: url("../img/Img2.jpg");
      background-size: cover;
      background-position: 100% auto;
    }
    &__container {
      max-width: 100%;
      width: 100%;
      padding: 0px 16px;
    }
    &__body {
      padding: 50px 0px 70px 0px;
    }

    &__logo {
      margin-bottom: 156px;
    }
    &__link {
      height: 45px;
    }
    &__text {
      width: 100%;
      font-size: 22px;
      &_span {
        font-size: 16px;
        margin-bottom: 18px;
      }
    }
    &__title {
      max-width: 690px;
      font-size: 64px;
      line-height: 84%;
      & span {
        font-size: 58px;
        line-height: 113.5%;
      }
    }
    &__subtitle {
      font-size: 24px;
      margin-bottom: 36px;
    }
  }

  .form {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__body {
      max-width: 100%;
      width: 100%;
      flex: 1 1 auto;
      margin: 0px 0px 20px 0px;
    }
    &__button {
      width: 100%;
      flex: 1 1 auto;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 590px) {
  .banner {
    &__content {
      background-image: url("../img/Img2.jpg");
      background-size: cover;
      background-size: center right;
    }
    &__container {
      padding: 0px 16px;
    }
    &__body {
      max-width: 100%;
      padding: 50px 0px 70px 0px;
    }

    &__logo {
      width: 138px;
      margin-bottom: 156px;
    }
    &__link {
      height: 45px;
    }
    &__text {
      font-size: 20px;
      &_span {
        font-size: 14px;
        margin-bottom: 18px;
      }
    }
    &__title {
      max-width: 100%;
      font-size: 50px;
      line-height: 84%;
      & span {
        font-size: 37px;
        line-height: 113.5%;
      }
    }
    &__subtitle {
      font-size: 19px;
      margin-bottom: 36px;
    }
  }
}

@media screen and (max-width: 420px) {
  .banner{
    &__logo {
      width: 138px;
      margin-bottom: 120px;
    }
    &__title {
      font-size: 44px;
      & span {
font-size: 30px;
      }
    }
  }

}